*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("https://github.com/srikanthA4/images/blob/main/colorful-sunrise-beautiful-beach-landscape-vector-illustration-eps10-RHR2A1.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.city{
    font-size: 23px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 35px;
}

#secondMain,
#main  {
    display: flex;
    background-color: rgba(24, 24, 27, 0.8);
    width: 60%;
    color: white;
    justify-content: center;
}

#main{
    width: 70%;
    margin: auto;
}


.wItems {
    margin: 10px;
    padding: 5px;
    background-color: rgba(24, 24, 27, 0.8);
    border: 2px solid white;
    border-radius: 4px;
}

.curTemp{
    margin: 10px;
    padding: 5px;
    background-color: rgba(24, 24, 27, 0.8);
}


.wetherforcast {
    text-align: center;
}

.day {
    background-color: dimgrey;
    border-radius: 4px;
    padding: 2px;
    text-align: center;
}

.time{
    font-size: 140px;
    color: white;
}

.In{
    margin:20px auto;
    
    width:30%;
    padding-left:40px;
    
    
    /* background-color: rgba(24, 24, 27, 0.8); */
}
.In>button,input{
    margin-left: 20px;
    font-size: 20px;
}
button{
    width:100px
}
  


#city{
    padding: 5px;
}

#btn{
    padding: 5px;
}
