*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1ef2a1c1-dccd-4aab-b314-2f24a01fec90/de9paw3-5dfecd8f-a140-480b-b8ed-9746f4720e0c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFlZjJhMWMxLWRjY2QtNGFhYi1iMzE0LTJmMjRhMDFmZWM5MFwvZGU5cGF3My01ZGZlY2Q4Zi1hMTQwLTQ4MGItYjhlZC05NzQ2ZjQ3MjBlMGMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.cXOQSAQBT62V6XidPa6nxEfC5LVnPBYAIHk7lfZ1yms");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.city{
    font-size: 23px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 35px;
}

#secondMain,
#main  {
    display: flex;
    background-color: rgba(24, 24, 27, 0.8);
    width: 60%;
    color: white;
    justify-content: center;
}

#main{
    width: 70%;
    margin: auto;
}


.wItems {
    margin: 10px;
    padding: 5px;
    background-color: rgba(24, 24, 27, 0.8);
    border: 2px solid white;
    border-radius: 4px;
}

.curTemp{
    margin: 10px;
    padding: 5px;
    background-color: rgba(24, 24, 27, 0.8);
}


.wetherforcast {
    text-align: center;
}

.day {
    background-color: dimgrey;
    border-radius: 4px;
    padding: 2px;
    text-align: center;
}

.time{
    font-size: 140px;
    color: white;
}

.In{
    margin:20px auto;
    
    width:30%;
    padding-left:40px;
    
    
    /* background-color: rgba(24, 24, 27, 0.8); */
}
.In>button,input{
    margin-left: 20px;
    font-size: 20px;
}
button{
    width:100px
}
  


#city{
    padding: 5px;
}

#btn{
    padding: 5px;
}